@import url('variable.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: var(--ff);
    background-color: #141414;
}



/* ------header-------- */

.header{
    /* border:2px solid; */
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index:1000;
    height: auto;
    min-height: 7rem;
    /* background-color: rgb(20, 20, 20); */
}

.navbar{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    min-height: 7rem;
    
}

.navbar a{
    text-decoration: none;
    text-transform: capitalize;
}

.navbar li{
    list-style-type: none;
}

.logo-items{
    display: flex;
    align-items: center;
    gap:4rem;
    
}

.logo-items .logo{
    display: flex;
    align-items: center;
    gap:4rem;
    font-size: 1.4rem;
}

.logo-items .logo a{
    color: var(--color-d-red);
    font-weight: var(--fw-700);
    display:block;
    font-size: 2.5rem;
}

.logo-items .logo .browse{
    /* border:2px solid white; */
    color: var(--color-fade-white);
    font-weight: var(--fw-700);
    display: flex;
    align-items: center;
    gap:2rem;
    cursor: pointer;
    display: none;
}

.logo-items .logo .browse .fa-sort-down{
    transform: translateY(-1px);
    font-size: 1.6rem;
    margin-left: .5rem;
}

.navbar .nav-icons{
    display: flex;
}


/* nav-items  */

.navbar .nav-items{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap:2rem;
    /* transition: hover 10s ease-in-out; */
}


.navbar .nav-items a:not(.home):hover{
    opacity: .7;
}



.navbar .nav-items a{
    color: var(--color-fade-white);
}

.navbar .nav-items .home{
    font-weight: var(--fw-700);
    color: var(--color-white);
    cursor: default;
}


/* nav-icons  */

.navbar .nav-icons{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap:2rem;
    color: var(--color-fade-white);
    cursor: pointer;
    
}

.nav-icons .profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-icons .profile .fa-sort-down{
    transform: translateY(-3px);
    font-size: 14px;
    transition: transform .3s ease-in-out;
}

.nav-icons .profile:hover .fa-sort-down{
    transform: rotate(180deg);
}

/* scroll effect  */

header.scrolled .navbar{
    background-color: rgb(20, 20, 20);
}



/* -------- main ---------- */

/* .main{
    border:10px solid white;
} */

/* ####### bill-board ##########  */

.bill-board{
    /* border:10px solid red; */
    position: relative;
    top:0;
    width: 100%;
    height: 55vw;
    background-color: #000;

}

.bill-board-container{
    /* border: 2px solid blue; */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


.bill-board-bg-img{
    /* border: 2px solid green; */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background:linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,.1));
}

.bill-board-bg-img img{
    /* border: 2px solid blue; */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    width: 100%;
    background-position: 50%;
    height: 100%;

}

.bill-board-bg-img .layer1{
    background: linear-gradient(77deg,rgba(0,0,0,.6),transparent 85%);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 26.09%;
    top: 0;
}

.bill-board-bg-img .layer2{
    background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: -1px;
    height: 14.7vw;
    opacity: 1;
    top: auto;
    width: 100%;
}



/* ------- fill container ----------  */

.fill-container{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.fill-container .info-wrapper{
    bottom: 36%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 4%;
    position: absolute;
    top: 0;
    width: 36%;
    z-index: 10;
    color:var(--color-fade-white);
}

.fill-container .info-wrapper .title{
    /* border:2px solid white; */
    margin-bottom: 1.2vw;
    min-height: 13.2vw;
    position: relative;
    
}

.fill-container .info-wrapper .title img{
    width: 100%;
}


.fill-container .info-wrapper .info{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.2vw;
}


/* buttons */

.fill-container .info-wrapper .buttons{
    font-size: 1.3vw;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap:1vw;
    
}

.info-wrapper .buttons a{
    /* border: 2px solid white; */
    display: inline-block;
    transition: hover .1s ease-in-out;
}

.info-wrapper .buttons a:hover{
    opacity: .8;
}


.info-wrapper .buttons .play{
    background-color: var(--color-white);
    color: black;
    text-decoration: none;
    padding: .6vw 2.2vw;
    font-weight: 500;
    border-radius: .3vw;
    /* margin-right: 1rem; */
    display: inline-flex;
    align-items: center;
    gap:.8vw;
    
}

.info-wrapper .buttons .play .fa-play{
     /* margin-right: .6rem; */
     font-size: 1.9vw;
     /* transform: translateY(3.5px); */
}

.info-wrapper .buttons .more-info{
    background-color: var(--btn-color-grey);
    color: #fff;
    text-decoration: none;
    padding: .8vw 1.6vw;
    font-weight: 500;
    border-radius: .3vw;
    /* margin-right: 1rem; */
    display: inline-flex;
    align-items: center;
    gap:.8vw;
    
    
}

/* ------ titles------------ */

.titles{
    /* border:10px solid blue; */
    position: relative;
    top:-15vw
    
}

/* title-container  */



.title-container .row{
    /* border:2px solid white; */
    margin: 3vw 0;
    padding-left: 4vw;
    /* position: relative; */
}

.title-container .row .row-title{
    color: var(--color-fade-white);
    font-size: 2.1rem;
    margin-bottom: 1.5vw;
}

.title-container .row .card-container{
    display: flex;
    gap:.6vw;
    overflow:auto;
}

::-webkit-scrollbar{
    display: none;
}

.title-container .row .card{
    border: 2px solid;
    min-width: 17%;
    max-width: 17%;
    
}

.title-container .card .image img{
    width: 100%;
    background-size: cover;
    background-position: center;
}


/* //// info ///  */

.title-container .card .info{
    background-color: #141414;
    font-size: .8vw;
    padding: 1vw;
    color: var(--color-fade-white);
}


.title-container .card .info .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8vw;
}

.title-container .card .info .icons .fa-play,
.title-container .card .info .icons .fa-plus,
.title-container .card .info .icons .fa-thumbs-up,
.title-container .card .info .icons .fa-chevron-down{
    border:2px solid var(--color-fade-white);
    padding: .5vw;
    border-radius: 5vw;
    

}


.title-container .card .info .icons .fa-play{
    background-color: var(--color-fade-white);
    color: black;
    padding: .4vw .5vw;
}



/* hr-age-qlty */

.title-container .card .info .hr-age-qlty{
    /* border: 2px solid; */
    display: flex;
    gap:.7vw;
    align-items: center;
    margin-bottom: .7vw;

}

.title-container .card .info .hr-age-qlty .age{
    border:1px solid;
    padding: .1vw .3vw;
    font-size: .6vw;
}

.title-container .card .info .hr-age-qlty .qlty{
    border:1px solid;
    font-size: .4vw;
    padding: .1vw .3vw;
    border-radius: .2vw;
}

.title-container .card .info .genre{
    display: flex;
    align-items: center;
    gap:.6vw;
}

.title-container .card .info .genre .fa-circle{
    font-size: .3vw;
    color: rgb(129, 128, 128);
}

.title-container .card .info{
    display:none;
}

/* .title-container .card:hover{
    transform: scale(1.3);
    z-index: 10;
    overflow:initial;
} */

/* .title-container .card:hover .info{
    display:block;
} */


/* ---------- footer -----------  */

.footer{
    /* border:2px solid red; */
    position: relative;
    top:-10vw;
}

.footer-container{
    /* border:2px solid white; */

    max-width: 900px;
    width: 98%;
    margin: auto;
    padding: 2vw;
    color: white;
    padding-right: 100px;
}

.footer-container ul li{
    /* border:2px solid; */
    list-style-type: none;
}

/* .main{
    border:10px solid green;
    position: relative;
} */

.footer-container .links{
    font-size: 30px;
    display: flex;
    gap:25px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 20px;
}


.footer-container .footer-items{
    font-size: 13px;
    color: #808080;
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-container .footer-items ul{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: flex-start;
}

.footer-container .footer-items ul li{
    display: inline;
    /* border: 2px solid; */
    cursor: pointer;
}

.footer-container .footer-items ul li:hover{
    border-bottom: 1px solid;
}



.footer-container .btn{
    font-size: 13px;
    color: #808080;
    border:1px solid;
    display: inline-block;
    padding: 7px;
    margin-bottom: 20px;
    cursor:pointer;
}

.footer-container .btn:hover{
    color: white;
    border-color: #808080;
}

.footer-container .copywrite{
    color: #808080;
}

/* ----author ----------- */
